/node_modules
/public/hot
/public/bower_components
/public/editor
/public/storage
/public/public
/public/upload
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

